{% extends "base.html.twig" %}
{% block title %}Reçu de retrait{% endblock %}
{% block stylesheets %}
<style>
    .droit{
        float:right;
    }
    p{
        font-size: 12px;
    }
</style>
{% endblock %}
{% block body %}
    
    <fieldset>
        <legend>{{transaction.compteRet.partenaire.raisonSociale}}</legend>
        <h3>Reçu de retrait</h3>
        <p>
            Agence: &emsp; {{transaction.compteRet.partenaire.raisonSociale}}   &emsp; Guichetier : &emsp; {{transaction.user.nomComplet}} <br>
            Date: {{"now"|date("m/d/Y H:i:s")}}
        </p>
        <fieldset>
            <legend>Envoyeur</legend>
            <p>
                Pays: &emsp; Sénégal   &emsp; Cellulaire : &emsp; {{transaction.telEnv}} <br>
                Prenom: &emsp; {{transaction.prenomEnv}} &emsp; Nom: {{transaction.nomEnv}} <br>
                Adresse: &emsp; {{transaction.adresseEnv}}
            </p>
        </fieldset>
        <fieldset>
            <legend>Bénéficiaire</legend>
            <p>
                Pays: &emsp; Sénégal   &emsp; Cellulaire : &emsp; {{transaction.telBenef}} <br>
                Prenom: &emsp; {{transaction.prenomBenef}} &emsp; Nom: {{transaction.nomBenef}} <br>
                Type de piece: {{transaction.typePieceBenef}} &emsp; Numero: &emsp; {{transaction.cniBenef}} <br>
            </p>
        </fieldset>
    </fieldset>
    <span><u>Caissier</u></span>
    <span class="droit"><u>Client</u></span>

<fieldset>
    <legend>{{transaction.compteRet.partenaire.raisonSociale}}</legend>
    <h3>Reçu de retrait</h3>
    <p>
        Agence: &emsp; {{transaction.compteRet.partenaire.raisonSociale}}   &emsp; Guichetier : &emsp; {{transaction.user.nomComplet}} <br>
        Date: {{"now"|date("m/d/Y H:i:s")}}
    </p>
    <fieldset>
        <legend>Envoyeur</legend>
        <p>
            Pays: &emsp; Sénégal   &emsp; Cellulaire : &emsp; {{transaction.telEnv}} <br>
            Prenom: &emsp; {{transaction.prenomEnv}} &emsp; Nom: {{transaction.nomEnv}} <br>
            Adresse: &emsp; {{transaction.adresseEnv}}
        </p>
    </fieldset>
    <fieldset>
        <legend>Bénéficiaire</legend>
        <p>
            Pays: &emsp; Sénégal   &emsp; Cellulaire : &emsp; {{transaction.telBenef}} <br>
            Prenom: &emsp; {{transaction.prenomBenef}} &emsp; Nom: {{transaction.nomBenef}} <br>
            Type de piece: {{transaction.typePieceBenef}} &emsp; Numero: &emsp; {{transaction.cniBenef}} <br>
        </p>
    </fieldset>
</fieldset>
<span><u>Caissier</u></span>
<span class="droit"><u>Client</u></span>
{% endblock %}
